* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    #fdf4ff 0%,
    #faf5ff 50%,
    #ffffff 100%
  );

  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;

  background: rgba(255,255,255,0.8);

  backdrop-filter: blur(10px);

  position: sticky;
  top: 0;
}

.navbar h2 {
  color: #6b21a8;
}

.hero {
  text-align: center;
  padding: 140px 20px 100px;
}

.hero h1 {
  max-width: 850px;
  margin: 0 auto;

  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;

  color: #4c1d95;
}

.hero p {
  max-width: 700px;
  margin: 30px auto 40px;

  color: #666;
  font-size: 1.1rem;
  line-height: 1.8;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primary-btn {
  background: #7e22ce;
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
}

.primary-btn:hover {
  transform: translateY(-3px);
}

.secondary-btn {
  background: white;
  color: #7e22ce;
  border: 2px solid #7e22ce;
  padding: 14px 28px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
}

.secondary-btn:hover {
  transform: translateY(-3px);
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-top: 10px;
}

.nav-links li {
  cursor: pointer;
}

.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 50px;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  color: #7e22ce;
  margin-bottom: 15px;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  color: #5b21b6;
  font-weight: 500;
  cursor: pointer;
}
.about {
  max-width: 900px;
  margin: 80px auto;
  text-align: center;
  padding: 0 20px;
}

.about h2 {
  color: #6b21a8;
  margin-bottom: 20px;
}

.about p {
  color: #555;
  line-height: 1.8;
}

.footer {
  margin-top: 60px;
  padding: 25px;
  text-align: center;
  border-top: 1px solid #eee;
}

.footer p:first-child {
  margin-bottom: 8px;
  font-weight: 600;
}

.footer p:last-child {
  color: #7e22ce;
}